{% extends 'base.html'  %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'users/css/users_base.css' %}">
{% endblock %}

{% block title %} регистрация и аутентификация {% endblock %}

{% block content %}
<div class="register">
    <h3>Регистрация и аутентификация пользователей</h3>
    <a href="{% url 'users:register-user' %}">регистрация</a> |
    <a href="{% url 'users:login' %}">войти по логину</a> |
    <a href="{% url 'users:logout' %}">выйти</a> |
    <a href="{% url 'users:userslist' %}">список всех зарегистрированных пользователей</a>
</div>
{% endblock %}