<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Стартовая страница</title>
</head>
<body>
    <h1>Стартовая страница приложения Compas-Pro</h1>
<div>
        <a href="{% url 'family-show' %}">просмотр списка фамилий</a> |
        <a href="api/v1/familylist/">просмотр списка фамилий API</a> |
        <a href="api/v1/register/login">login API</a> |
        <a href="api/v1/register/logout">logout API</a>
</div>
<div>
    <a href="{% url 'register' %}">регистрация</a>
</div>
</body>
</html>